# 課題0705

そのまま課題ファイルで編集しないでください。課題ファイルを複製してから課題を回答してください。

## 課題1

pandasでDataフォルダの```example.json```を読み込む。

In [24]:
import pandas as pd
import json

df = pd.read_json("Data/example.json", lines=True)

df

     Name  Price  Model  Power
0   Honda  10000   2005   1300
1  Toyota  12000   2010   1600
2    Audi  25000   2017   1800
3    Ford  28000   2009   1200

## 課題2

pandasでDataフォルダの```state-abbrevs.csv```、```state-areas.csv```、```state-population.csv```を読み込む。

これらのデータを使って、**2010年**アメリカの各州の人口密度を計算しよう。

In [56]:
df1 = pd.read_csv("Data/state-abbrevs.csv")
df2 = pd.read_csv("Data/state-areas.csv")
df3 = pd.read_csv("Data/state-population.csv")

df1
df2
display(df3)

df4 = pd.merge(df1,df2,on="state",how="outer")
display(df4)

     state/region     ages  year   population
0              AL  under18  2012    1117489.0
1              AL    total  2012    4817528.0
2              AL  under18  2010    1130966.0
3              AL    total  2010    4785570.0
4              AL  under18  2011    1125763.0
...           ...      ...   ...          ...
2539          USA    total  2010  309326295.0
2540          USA  under18  2011   73902222.0
2541          USA    total  2011  311582564.0
2542          USA  under18  2012   73708179.0
2543          USA    total  2012  313873685.0

[2544 rows x 4 columns]

                   state abbreviation  area (sq. mi)
0                Alabama           AL          52423
1                 Alaska           AK         656425
2                Arizona           AZ         114006
3               Arkansas           AR          53182
4             California           CA         163707
5               Colorado           CO         104100
6            Connecticut           CT           5544
7               Delaware           DE           1954
8   District of Columbia           DC             68
9                Florida           FL          65758
10               Georgia           GA          59441
11                Hawaii           HI          10932
12                 Idaho           ID          83574
13              Illinois           IL          57918
14               Indiana           IN          36420
15                  Iowa           IA          56276
16                Kansas           KS          82282
17              Kentucky           KY          40411
18             Louisiana           LA          51843
19                 Maine           ME          35387
20               Montana           MT         147046
21              Nebraska           NE          77358
22                Nevada           NV         110567
23         New Hampshire           NH           9351
24            New Jersey           NJ           8722
25            New Mexico           NM         121593
26              New York           NY          54475
27        North Carolina           NC          53821
28          North Dakota           ND          70704
29                  Ohio           OH          44828
30              Oklahoma           OK          69903
31                Oregon           OR          98386
32              Maryland           MD          12407
33         Massachusetts           MA          10555
34              Michigan           MI          96810
35             Minnesota           MN          86943
36           Mississippi           MS          48434
37              Missouri           MO          69709
38          Pennsylvania           PA          46058
39          Rhode Island           RI           1545
40        South Carolina           SC          32007
41          South Dakota           SD          77121
42             Tennessee           TN          42146
43                 Texas           TX         268601
44                  Utah           UT          84904
45               Vermont           VT           9615
46              Virginia           VA          42769
47            Washington           WA          71303
48         West Virginia           WV          24231
49             Wisconsin           WI          65503
50               Wyoming           WY          97818
51           Puerto Rico          NaN           3515

In [113]:
df5 = df3[df3["year"]==2010]
df6 = df5[df5["ages"]=="total"]
df6 = df6.rename(columns={'state/region':'abbreviation'})
df7 = pd.merge(df4,df6,on="abbreviation",how="outer")
display(df7)

,state,abbreviation,area (sq. mi),ages,year,population
0,Alabama,AL,52423.0,total,2010.0,4785570.0
1,Alaska,AK,656425.0,total,2010.0,713868.0
2,Arizona,AZ,114006.0,total,2010.0,6408790.0
3,Arkansas,AR,53182.0,total,2010.0,2922280.0
4,California,CA,163707.0,total,2010.0,37333601.0
5,Colorado,CO,104100.0,total,2010.0,5048196.0
6,Connecticut,CT,5544.0,total,2010.0,3579210.0
7,Delaware,DE,1954.0,total,2010.0,899711.0
8,District of Columbia,DC,68.0,total,2010.0,605125.0
9,Florida,FL,65758.0,total,2010.0,18846054.0
10,Georgia,GA,59441.0,total,2010.0,9713248.0
11,Hawaii,HI,10932.0,total,2010.0,1363731.0
12,Idaho,ID,83574.0,total,2010.0,1570718.0
13,Illinois,IL,57918.0,total,2010.0,12839695.0
14,Indiana,IN,36420.0,total,2010.0,6489965.0
15,Iowa,IA,56276.0,total,2010.0,3050314.0
16,Kansas,KS,82282.0,total,2010.0,2858910.0
17,Kentucky,KY,40411.0,total,2010.0,4347698.0
18,Louisiana,LA,51843.0,total,2010.0,4545392.0
19,Maine,ME,35387.0,total,2010.0,1327366.0
20,Montana,MT,147046.0,total,2010.0,990527.0
21,Nebraska,NE,77358.0,total,2010.0,1829838.0
22,Nevada,NV,110567.0,total,2010.0,2703230.0
23,New Hampshire,NH,9351.0,total,2010.0,1316614.0
24,New Jersey,NJ,8722.0,total,2010.0,8802707.0
25,New Mexico,NM,121593.0,total,2010.0,2064982.0
26,New York,NY,54475.0,total,2010.0,19398228.0
27,North Carolina,NC,53821.0,total,2010.0,9559533.0
28,North Dakota,ND,70704.0,total,2010.0,674344.0
29,Ohio,OH,44828.0,total,2010.0,11545435.0
30,Oklahoma,OK,69903.0,total,2010.0,3759263.0
31,Oregon,OR,98386.0,total,2010.0,3837208.0
32,Maryland,MD,12407.0,total,2010.0,5787193.0
33,Massachusetts,MA,10555.0,total,2010.0,6563263.0
34,Michigan,MI,96810.0,total,2010.0,9876149.0
35,Minnesota,MN,86943.0,total,2010.0,5310337.0
36,Mississippi,MS,48434.0,total,2010.0,2970047.0
37,Missouri,MO,69709.0,total,2010.0,5996063.0
38,Pennsylvania,PA,46058.0,total,2010.0,12710472.0
39,Rhode Island,RI,1545.0,total,2010.0,1052669.0
40,South Carolina,SC,32007.0,total,2010.0,4636361.0
41,South Dakota,SD,77121.0,total,2010.0,816211.0
42,Tennessee,TN,42146.0,total,2010.0,6356683.0
43,Texas,TX,268601.0,total,2010.0,25245178.0
44,Utah,UT,84904.0,total,2010.0,2774424.0
45,Vermont,VT,9615.0,total,2010.0,625793.0
46,Virginia,VA,42769.0,total,2010.0,8024417.0
47,Washington,WA,71303.0,total,2010.0,6742256.0
48,West Virginia,WV,24231.0,total,2010.0,1854146.0
49,Wisconsin,WI,65503.0,total,2010.0,5689060.0
50,Wyoming,WY,97818.0,total,2010.0,564222.0
51,Puerto Rico,NaN,3515.0,NaN,NaN,NaN
52,NaN,PR,NaN,total,2010.0,3721208.0
53,NaN,USA,NaN,total,2010.0,309326295.0

In [117]:
df7["pd"]=df7["population"]/df7["area (sq. mi)"]
df7

,state,abbreviation,area (sq. mi),ages,year,population,pd
0,Alabama,AL,52423.0,total,2010.0,4785570.0,91.287603
1,Alaska,AK,656425.0,total,2010.0,713868.0,1.087509
2,Arizona,AZ,114006.0,total,2010.0,6408790.0,56.214497
3,Arkansas,AR,53182.0,total,2010.0,2922280.0,54.948667
4,California,CA,163707.0,total,2010.0,37333601.0,228.051342
5,Colorado,CO,104100.0,total,2010.0,5048196.0,48.493718
6,Connecticut,CT,5544.0,total,2010.0,3579210.0,645.600649
7,Delaware,DE,1954.0,total,2010.0,899711.0,460.445752
8,District of Columbia,DC,68.0,total,2010.0,605125.0,8898.897059
9,Florida,FL,65758.0,total,2010.0,18846054.0,286.597129
10,Georgia,GA,59441.0,total,2010.0,9713248.0,163.409902
11,Hawaii,HI,10932.0,total,2010.0,1363731.0,124.746707
12,Idaho,ID,83574.0,total,2010.0,1570718.0,18.794338
13,Illinois,IL,57918.0,total,2010.0,12839695.0,221.687472
14,Indiana,IN,36420.0,total,2010.0,6489965.0,178.197831
15,Iowa,IA,56276.0,total,2010.0,3050314.0,54.202751
16,Kansas,KS,82282.0,total,2010.0,2858910.0,34.745266
17,Kentucky,KY,40411.0,total,2010.0,4347698.0,107.586994
18,Louisiana,LA,51843.0,total,2010.0,4545392.0,87.676099
19,Maine,ME,35387.0,total,2010.0,1327366.0,37.509990
20,Montana,MT,147046.0,total,2010.0,990527.0,6.736171
21,Nebraska,NE,77358.0,total,2010.0,1829838.0,23.654153
22,Nevada,NV,110567.0,total,2010.0,2703230.0,24.448796
23,New Hampshire,NH,9351.0,total,2010.0,1316614.0,140.799273
24,New Jersey,NJ,8722.0,total,2010.0,8802707.0,1009.253268
25,New Mexico,NM,121593.0,total,2010.0,2064982.0,16.982737
26,New York,NY,54475.0,total,2010.0,19398228.0,356.094135
27,North Carolina,NC,53821.0,total,2010.0,9559533.0,177.617157
28,North Dakota,ND,70704.0,total,2010.0,674344.0,9.537565
29,Ohio,OH,44828.0,total,2010.0,11545435.0,257.549634
30,Oklahoma,OK,69903.0,total,2010.0,3759263.0,53.778278
31,Oregon,OR,98386.0,total,2010.0,3837208.0,39.001565
32,Maryland,MD,12407.0,total,2010.0,5787193.0,466.445797
33,Massachusetts,MA,10555.0,total,2010.0,6563263.0,621.815538
34,Michigan,MI,96810.0,total,2010.0,9876149.0,102.015794
35,Minnesota,MN,86943.0,total,2010.0,5310337.0,61.078373
36,Mississippi,MS,48434.0,total,2010.0,2970047.0,61.321530
37,Missouri,MO,69709.0,total,2010.0,5996063.0,86.015622
38,Pennsylvania,PA,46058.0,total,2010.0,12710472.0,275.966651
39,Rhode Island,RI,1545.0,total,2010.0,1052669.0,681.339159
40,South Carolina,SC,32007.0,total,2010.0,4636361.0,144.854594
41,South Dakota,SD,77121.0,total,2010.0,816211.0,10.583512
42,Tennessee,TN,42146.0,total,2010.0,6356683.0,150.825298
43,Texas,TX,268601.0,total,2010.0,25245178.0,93.987655
44,Utah,UT,84904.0,total,2010.0,2774424.0,32.677188
45,Vermont,VT,9615.0,total,2010.0,625793.0,65.085075
46,Virginia,VA,42769.0,total,2010.0,8024417.0,187.622273
47,Washington,WA,71303.0,total,2010.0,6742256.0,94.557817
48,West Virginia,WV,24231.0,total,2010.0,1854146.0,76.519582
49,Wisconsin,WI,65503.0,total,2010.0,5689060.0,86.851900
50,Wyoming,WY,97818.0,total,2010.0,564222.0,5.768079
51,Puerto Rico,NaN,3515.0,NaN,NaN,NaN,NaN
52,NaN,PR,NaN,total,2010.0,3721208.0,NaN
53,NaN,USA,NaN,total,2010.0,309326295.0,NaN

## 課題3

```state/region```、```ages```と```years```でデータフレームをグループして、各グループで$\frac{population}{area (sq. mi)}$の形で人口密度を計算してください。

In [129]:
df8=df3.groupby(["state/region","ages","year"])
#分かりませんでした