# 課題0705

そのまま課題ファイルで編集しないでください。課題ファイルを複製してから課題を回答してください。

## 課題1

pandasでDataフォルダの```example.json```を読み込む。

In [8]:
import pandas as pd
df = pd.read_json('Data/example.json', lines=True)

## 課題2

pandasでDataフォルダの```state-abbrevs.csv```、```state-areas.csv```、```state-population.csv```を読み込む。

これらのデータを使って、**2010年**アメリカの各州の人口密度を計算しよう。

In [9]:
df1 = pd.read_csv('Data/state-abbrevs.csv')
df2 = pd.read_csv('Data/state-areas.csv')
df3 = pd.read_csv('Data/state-population.csv')

In [39]:
##2010年, 各州,  人口密度（人口/面積）
##面積はdf2, 人口・各州・時点はdf3
##USAを削除
df4 = df3[(df3["ages"] == "total") & (df3["year"] == 2010), ignore_index()]

In [ ]:
##PRとUSAいらない
df4 = df4.drop(2490)
df4 = df4.drop(2539)

In [56]:
##51行目プエルトリコいらない
df2 = df2.drop(51)

In [69]:
df4_new = df4.rename(columns={"state/region": "abbreviation"})

In [ ]:
df5 = pd.merge(df1, df2, on="state")

In [75]:
df6 = pd.merge(df5, df4_new, on = "abbreviation")

In [76]:
df6

                   state abbreviation  area (sq. mi)   ages  year  population
0                Alabama           AL          52423  total  2010   4785570.0
1                 Alaska           AK         656425  total  2010    713868.0
2                Arizona           AZ         114006  total  2010   6408790.0
3               Arkansas           AR          53182  total  2010   2922280.0
4             California           CA         163707  total  2010  37333601.0
5               Colorado           CO         104100  total  2010   5048196.0
6            Connecticut           CT           5544  total  2010   3579210.0
7               Delaware           DE           1954  total  2010    899711.0
8   District of Columbia           DC             68  total  2010    605125.0
9                Florida           FL          65758  total  2010  18846054.0
10               Georgia           GA          59441  total  2010   9713248.0
11                Hawaii           HI          10932  total  2010   1363731.0
12                 Idaho           ID          83574  total  2010   1570718.0
13              Illinois           IL          57918  total  2010  12839695.0
14               Indiana           IN          36420  total  2010   6489965.0
15                  Iowa           IA          56276  total  2010   3050314.0
16                Kansas           KS          82282  total  2010   2858910.0
17              Kentucky           KY          40411  total  2010   4347698.0
18             Louisiana           LA          51843  total  2010   4545392.0
19                 Maine           ME          35387  total  2010   1327366.0
20               Montana           MT         147046  total  2010    990527.0
21              Nebraska           NE          77358  total  2010   1829838.0
22                Nevada           NV         110567  total  2010   2703230.0
23         New Hampshire           NH           9351  total  2010   1316614.0
24            New Jersey           NJ           8722  total  2010   8802707.0
25            New Mexico           NM         121593  total  2010   2064982.0
26              New York           NY          54475  total  2010  19398228.0
27        North Carolina           NC          53821  total  2010   9559533.0
28          North Dakota           ND          70704  total  2010    674344.0
29                  Ohio           OH          44828  total  2010  11545435.0
30              Oklahoma           OK          69903  total  2010   3759263.0
31                Oregon           OR          98386  total  2010   3837208.0
32              Maryland           MD          12407  total  2010   5787193.0
33         Massachusetts           MA          10555  total  2010   6563263.0
34              Michigan           MI          96810  total  2010   9876149.0
35             Minnesota           MN          86943  total  2010   5310337.0
36           Mississippi           MS          48434  total  2010   2970047.0
37              Missouri           MO          69709  total  2010   5996063.0
38          Pennsylvania           PA          46058  total  2010  12710472.0
39          Rhode Island           RI           1545  total  2010   1052669.0
40        South Carolina           SC          32007  total  2010   4636361.0
41          South Dakota           SD          77121  total  2010    816211.0
42             Tennessee           TN          42146  total  2010   6356683.0
43                 Texas           TX         268601  total  2010  25245178.0
44                  Utah           UT          84904  total  2010   2774424.0
45               Vermont           VT           9615  total  2010    625793.0
46              Virginia           VA          42769  total  2010   8024417.0
47            Washington           WA          71303  total  2010   6742256.0
48         West Virginia           WV          24231  total  2010   1854146.0
49             Wisconsin           WI          65503  total  2010   5689060.0
50               Wyoming           WY          97818  total  2010    564222.0

In [85]:
df6["density"] = df6["population"] / df6["area (sq. mi)"]

In [86]:
df6

,state,abbreviation,area (sq. mi),ages,year,population,density
0,Alabama,AL,52423,total,2010,4785570.0,91.287603
1,Alaska,AK,656425,total,2010,713868.0,1.087509
2,Arizona,AZ,114006,total,2010,6408790.0,56.214497
3,Arkansas,AR,53182,total,2010,2922280.0,54.948667
4,California,CA,163707,total,2010,37333601.0,228.051342
5,Colorado,CO,104100,total,2010,5048196.0,48.493718
6,Connecticut,CT,5544,total,2010,3579210.0,645.600649
7,Delaware,DE,1954,total,2010,899711.0,460.445752
8,District of Columbia,DC,68,total,2010,605125.0,8898.897059
9,Florida,FL,65758,total,2010,18846054.0,286.597129
10,Georgia,GA,59441,total,2010,9713248.0,163.409902
11,Hawaii,HI,10932,total,2010,1363731.0,124.746707
12,Idaho,ID,83574,total,2010,1570718.0,18.794338
13,Illinois,IL,57918,total,2010,12839695.0,221.687472
14,Indiana,IN,36420,total,2010,6489965.0,178.197831
15,Iowa,IA,56276,total,2010,3050314.0,54.202751
16,Kansas,KS,82282,total,2010,2858910.0,34.745266
17,Kentucky,KY,40411,total,2010,4347698.0,107.586994
18,Louisiana,LA,51843,total,2010,4545392.0,87.676099
19,Maine,ME,35387,total,2010,1327366.0,37.509990
20,Montana,MT,147046,total,2010,990527.0,6.736171
21,Nebraska,NE,77358,total,2010,1829838.0,23.654153
22,Nevada,NV,110567,total,2010,2703230.0,24.448796
23,New Hampshire,NH,9351,total,2010,1316614.0,140.799273
24,New Jersey,NJ,8722,total,2010,8802707.0,1009.253268
25,New Mexico,NM,121593,total,2010,2064982.0,16.982737
26,New York,NY,54475,total,2010,19398228.0,356.094135
27,North Carolina,NC,53821,total,2010,9559533.0,177.617157
28,North Dakota,ND,70704,total,2010,674344.0,9.537565
29,Ohio,OH,44828,total,2010,11545435.0,257.549634
30,Oklahoma,OK,69903,total,2010,3759263.0,53.778278
31,Oregon,OR,98386,total,2010,3837208.0,39.001565
32,Maryland,MD,12407,total,2010,5787193.0,466.445797
33,Massachusetts,MA,10555,total,2010,6563263.0,621.815538
34,Michigan,MI,96810,total,2010,9876149.0,102.015794
35,Minnesota,MN,86943,total,2010,5310337.0,61.078373
36,Mississippi,MS,48434,total,2010,2970047.0,61.321530
37,Missouri,MO,69709,total,2010,5996063.0,86.015622
38,Pennsylvania,PA,46058,total,2010,12710472.0,275.966651
39,Rhode Island,RI,1545,total,2010,1052669.0,681.339159
40,South Carolina,SC,32007,total,2010,4636361.0,144.854594
41,South Dakota,SD,77121,total,2010,816211.0,10.583512
42,Tennessee,TN,42146,total,2010,6356683.0,150.825298
43,Texas,TX,268601,total,2010,25245178.0,93.987655
44,Utah,UT,84904,total,2010,2774424.0,32.677188
45,Vermont,VT,9615,total,2010,625793.0,65.085075
46,Virginia,VA,42769,total,2010,8024417.0,187.622273
47,Washington,WA,71303,total,2010,6742256.0,94.557817
48,West Virginia,WV,24231,total,2010,1854146.0,76.519582
49,Wisconsin,WI,65503,total,2010,5689060.0,86.851900
50,Wyoming,WY,97818,total,2010,564222.0,5.768079

## 課題3

```state/region```、```ages```と```years```でデータフレームをグループして、各グループで$\frac{population}{area (sq. mi)}$の形で人口密度を計算してください。

In [96]:
df3

     state/region     ages  year   population
0              AL  under18  2012    1117489.0
1              AL    total  2012    4817528.0
2              AL  under18  2010    1130966.0
3              AL    total  2010    4785570.0
4              AL  under18  2011    1125763.0
...           ...      ...   ...          ...
2539          USA    total  2010  309326295.0
2540          USA  under18  2011   73902222.0
2541          USA    total  2011  311582564.0
2542          USA  under18  2012   73708179.0
2543          USA    total  2012  313873685.0

[2544 rows x 4 columns]

In [136]:
##PRとUSAいらない
df7 = df3[(df3["state/region"] != "USA") & (df3["state/region"] != "PR")]

In [137]:
df7

     state/region     ages  year  population
0              AL  under18  2012   1117489.0
1              AL    total  2012   4817528.0
2              AL  under18  2010   1130966.0
3              AL    total  2010   4785570.0
4              AL  under18  2011   1125763.0
...           ...      ...   ...         ...
2443           WY  under18  1993    137458.0
2444           WY    total  1991    459260.0
2445           WY  under18  1991    136720.0
2446           WY  under18  1990    136078.0
2447           WY    total  1990    453690.0

[2448 rows x 4 columns]

In [138]:
df7_rename = df7.rename(columns={"state/region": "abbreviation"})

In [140]:
df8 = pd.merge(df7_rename, df1, on = "abbreviation")
df9 = pd.merge(df8, df2, on="state")

In [143]:
df9["density"] = df9["population"] / df9["area (sq. mi)"]

In [159]:
##州、年齢、年代でグループを分けて、人口密度を求めてもグループ分けした意味ない？
df9.groupby(["abbreviation", "ages", "year"])["density"].agg("mean")

abbreviation  ages     year
AK            total    1990    0.842884
                       1991    0.868634
                       1992    0.896882
                       1993    0.913180
                       1994    0.919081
                                 ...
WY            under18  2009    1.379705
                       2010    1.383702
                       2011    1.384275
                       2012    1.395714
                       2013    1.407502
Name: density, Length: 2448, dtype: float64