# 課題0705

そのまま課題ファイルで編集しないでください。課題ファイルを複製してから課題を回答してください。

## 課題1

pandasでDataフォルダの```example.json```を読み込む。

In [2]:
pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Collecting pandas
  Downloading pandas-2.0.3-cp39-cp39-macosx_10_9_x86_64.whl (11.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 11.8/11.8 MB 34.8 MB/s eta 0:00:0000:0100:01
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/risa/Library/Python/3.9/lib/python/site-packages (from pandas) (2.8.2)
Collecting pytz>=2020.1 (from pandas)
  Downloading pytz-2023.3-py2.py3-none-any.whl (502 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 502.3/502.3 kB 12.4 MB/s eta 0:00:0000:01
Collecting tzdata>=2022.1 (from pandas)
  Downloading tzdata-2023.3-py2.py3-none-any.whl (341 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 341.8/341.8 kB 12.2 MB/s eta 0:00:00
Requirement already satisfied: numpy>=1.20.3 in /Users/risa/Library/Python/3.9/lib/python/site-packages (from pandas) (1.25.0)
Requirement already satisfied: six>=1.5 in /Library/Developer/CommandLineTools/Library/Frameworks/Python3.framework/Versions/3.9/lib/python3.9/site-packages (from python-dateutil>=2.8.2->pandas) (1.15.0)
Installing collected packages: pytz, tzdata, pandas
Successfully installed pandas-2.0.3 pytz-2023.3 tzdata-2023.3
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd

In [16]:
import json

In [35]:
example = "Data/example.json"

In [36]:
pd.read_json(example, lines=True)

     Name  Price  Model  Power
0   Honda  10000   2005   1300
1  Toyota  12000   2010   1600
2    Audi  25000   2017   1800
3    Ford  28000   2009   1200

## 課題2

pandasでDataフォルダの```state-abbrevs.csv```、```state-areas.csv```、```state-population.csv```を読み込む。

これらのデータを使って、**2010年**アメリカの各州の人口密度を計算しよう。

In [98]:
#データの読み込み
abbrevs = "Data/state-abbrevs.csv"
areas = "Data/state-areas.csv"
population = "Data/state-population.csv"

df_abbrevs = pd.read_csv(abbrevs)
df_areas = pd.read_csv(areas)
df_population = pd.read_csv(population)

In [121]:
#データの連結
df_ab_ar = pd.merge(df_abbrevs, df_areas, on="state", how="outer")
df_all = pd.merge(df_ab_ar, df_population, left_on="abbreviation", right_on="state/region", how="outer")
df_part = df_all.loc[(df_all["ages"]=="total") & (df_all["year"]==2010.0), ["state", "area (sq. mi)", "ages", "year", "population"]]

#計算
density = df_part["population"]/df_part["area (sq. mi)"]

#表成形
density_r = pd.concat([df_info["state"], density], axis=1)
answer = density_r.reset_index(drop=True)
answer.columns = ["state", "pop density"]
answer

                   state  pop density
0                Alabama    91.287603
1                 Alaska     1.087509
2                Arizona    56.214497
3               Arkansas    54.948667
4             California   228.051342
5               Colorado    48.493718
6            Connecticut   645.600649
7               Delaware   460.445752
8   District of Columbia  8898.897059
9                Florida   286.597129
10               Georgia   163.409902
11                Hawaii   124.746707
12                 Idaho    18.794338
13              Illinois   221.687472
14               Indiana   178.197831
15                  Iowa    54.202751
16                Kansas    34.745266
17              Kentucky   107.586994
18             Louisiana    87.676099
19                 Maine    37.509990
20               Montana     6.736171
21              Nebraska    23.654153
22                Nevada    24.448796
23         New Hampshire   140.799273
24            New Jersey  1009.253268
25            New Mexico    16.982737
26              New York   356.094135
27        North Carolina   177.617157
28          North Dakota     9.537565
29                  Ohio   257.549634
30              Oklahoma    53.778278
31                Oregon    39.001565
32              Maryland   466.445797
33         Massachusetts   621.815538
34              Michigan   102.015794
35             Minnesota    61.078373
36           Mississippi    61.321530
37              Missouri    86.015622
38          Pennsylvania   275.966651
39          Rhode Island   681.339159
40        South Carolina   144.854594
41          South Dakota    10.583512
42             Tennessee   150.825298
43                 Texas    93.987655
44                  Utah    32.677188
45               Vermont    65.085075
46              Virginia   187.622273
47            Washington    94.557817
48         West Virginia    76.519582
49             Wisconsin    86.851900
50               Wyoming     5.768079
51                   NaN          NaN
52                   NaN          NaN

## 課題3

```state/region```、```ages```と```years```でデータフレームをグループして、各グループで$\frac{population}{area (sq. mi)}$の形で人口密度を計算してください。

In [155]:
df_p = df_all[["state/region", "area (sq. mi)", "ages", "year", "population"]]

In [152]:
#group state/region
df_gstate = df_p.groupby("state/region")
df_gstate_r = df_gstate.mean("area (sq. mi)")
answer_gstate = df_gstate_r["population"] / df_gstate_r["area (sq. mi)"]
answer_gstate

state/region
AK        0.634404
AL       53.370896
AR       31.714490
AZ       29.275452
CA      132.609349
CO       26.203680
CT      383.918140
DC     5141.960478
DE      254.820934
FL      153.336900
GA       88.918774
HI       71.178555
IA       32.550085
ID       10.261864
IL      133.942860
IN      105.392094
KS       20.704030
KY       62.765026
LA       54.232430
MA      368.658168
MD      270.613563
ME       22.343946
MI       63.606122
MN       35.753596
MO       50.529093
MS       37.045936
MT        3.887257
NC       95.515220
ND        5.751817
NE       14.063723
NH       82.086515
NJ      599.295266
NM        9.665614
NV       11.850542
NY      215.012775
OH      157.920909
OK       31.358060
OR       21.821400
PA      165.351631
PR             NaN
RI      413.618811
SC       80.285658
SD        6.276215
TN       84.922783
TX       51.442757
USA            NaN
UT       18.091122
VA      105.079932
VT       38.851985
WA       52.560699
WI       51.466759
WV       45.981240
WY        3.284534
dtype: float64

In [153]:
#group ages
df_gage = df_p.groupby("ages")
df_gage_r = df_gage.mean("area (sq. mi)")
answer_gage = df_gage_r["population"] / df_gage_r["area (sq. mi)"]
answer_gage

ages
total      146.548494
under18     36.759724
dtype: float64

In [154]:
#group years
df_gyear = df_p.groupby("year")
df_gyear_r = df_gyear.mean("area (sq. mi)")
answer_gyear = df_gyear_r["population"] / df_gyear_r["area (sq. mi)"]
answer_gyear

year
1990.0    81.282108
1991.0    82.435301
1992.0    83.660186
1993.0    84.823088
1994.0    85.924637
1995.0    86.956660
1996.0    87.960576
1997.0    88.980967
1998.0    89.943857
1999.0    90.902308
2000.0    90.712357
2001.0    91.500047
2002.0    92.241454
2003.0    92.912549
2004.0    93.646246
2005.0    94.389817
2006.0    95.172162
2007.0    95.957195
2008.0    96.699927
2009.0    97.382056
2010.0    98.022051
2011.0    98.532245
2012.0    99.057166
2013.0    99.590984
dtype: float64