# 課題0705

そのまま課題ファイルで編集しないでください。課題ファイルを複製してから課題を回答してください。

## 課題1

pandasでDataフォルダの```example.json```を読み込む。

In [2]:
import pandas as pd
%cd C:\Users\tatum\test\chss_2023_assignment\課題0705\Data
pd.read_json('example.json', lines=True)

C:\Users\tatum\test\chss_2023_assignment\課題0705\Data

     Name  Price  Model  Power
0   Honda  10000   2005   1300
1  Toyota  12000   2010   1600
2    Audi  25000   2017   1800
3    Ford  28000   2009   1200

## 課題2

pandasでDataフォルダの```state-abbrevs.csv```、```state-areas.csv```、```state-population.csv```を読み込む。

これらのデータを使って、**2010年**アメリカの各州の人口密度を計算しよう。

In [3]:
abbrevs=pd.read_csv("state-abbrevs.csv")
areas=pd.read_csv("state-areas.csv")
population=pd.read_csv("state-population.csv")

In [4]:
population2010=population[(population["ages"]=="total")&(population["year"]==2010)]
population2010

     state/region   ages  year   population
3              AL  total  2010    4785570.0
91             AK  total  2010     713868.0
101            AZ  total  2010    6408790.0
189            AR  total  2010    2922280.0
197            CA  total  2010   37333601.0
283            CO  total  2010    5048196.0
293            CT  total  2010    3579210.0
379            DE  total  2010     899711.0
389            DC  total  2010     605125.0
475            FL  total  2010   18846054.0
485            GA  total  2010    9713248.0
570            HI  total  2010    1363731.0
581            ID  total  2010    1570718.0
666            IL  total  2010   12839695.0
677            IN  total  2010    6489965.0
762            IA  total  2010    3050314.0
773            KS  total  2010    2858910.0
858            KY  total  2010    4347698.0
869            LA  total  2010    4545392.0
954            ME  total  2010    1327366.0
965            MD  total  2010    5787193.0
1050           MA  total  2010    6563263.0
1061           MI  total  2010    9876149.0
1146           MN  total  2010    5310337.0
1157           MS  total  2010    2970047.0
1242           MO  total  2010    5996063.0
1253           MT  total  2010     990527.0
1338           NE  total  2010    1829838.0
1349           NV  total  2010    2703230.0
1434           NH  total  2010    1316614.0
1445           NJ  total  2010    8802707.0
1530           NM  total  2010    2064982.0
1541           NY  total  2010   19398228.0
1626           NC  total  2010    9559533.0
1637           ND  total  2010     674344.0
1722           OH  total  2010   11545435.0
1733           OK  total  2010    3759263.0
1818           OR  total  2010    3837208.0
1829           PA  total  2010   12710472.0
1914           RI  total  2010    1052669.0
1925           SC  total  2010    4636361.0
2010           SD  total  2010     816211.0
2021           TN  total  2010    6356683.0
2106           TX  total  2010   25245178.0
2117           UT  total  2010    2774424.0
2202           VT  total  2010     625793.0
2213           VA  total  2010    8024417.0
2298           WA  total  2010    6742256.0
2309           WV  total  2010    1854146.0
2394           WI  total  2010    5689060.0
2405           WY  total  2010     564222.0
2490           PR  total  2010    3721208.0
2539          USA  total  2010  309326295.0

In [5]:
df=pd.merge(population2010,abbrevs,left_on="state/region",right_on="abbreviation")
df=pd.merge(df,areas).drop(["state/region","year","ages"],axis=1)
df

    population                 state abbreviation  area (sq. mi)
0    4785570.0               Alabama           AL          52423
1     713868.0                Alaska           AK         656425
2    6408790.0               Arizona           AZ         114006
3    2922280.0              Arkansas           AR          53182
4   37333601.0            California           CA         163707
5    5048196.0              Colorado           CO         104100
6    3579210.0           Connecticut           CT           5544
7     899711.0              Delaware           DE           1954
8     605125.0  District of Columbia           DC             68
9   18846054.0               Florida           FL          65758
10   9713248.0               Georgia           GA          59441
11   1363731.0                Hawaii           HI          10932
12   1570718.0                 Idaho           ID          83574
13  12839695.0              Illinois           IL          57918
14   6489965.0               Indiana           IN          36420
15   3050314.0                  Iowa           IA          56276
16   2858910.0                Kansas           KS          82282
17   4347698.0              Kentucky           KY          40411
18   4545392.0             Louisiana           LA          51843
19   1327366.0                 Maine           ME          35387
20   5787193.0              Maryland           MD          12407
21   6563263.0         Massachusetts           MA          10555
22   9876149.0              Michigan           MI          96810
23   5310337.0             Minnesota           MN          86943
24   2970047.0           Mississippi           MS          48434
25   5996063.0              Missouri           MO          69709
26    990527.0               Montana           MT         147046
27   1829838.0              Nebraska           NE          77358
28   2703230.0                Nevada           NV         110567
29   1316614.0         New Hampshire           NH           9351
30   8802707.0            New Jersey           NJ           8722
31   2064982.0            New Mexico           NM         121593
32  19398228.0              New York           NY          54475
33   9559533.0        North Carolina           NC          53821
34    674344.0          North Dakota           ND          70704
35  11545435.0                  Ohio           OH          44828
36   3759263.0              Oklahoma           OK          69903
37   3837208.0                Oregon           OR          98386
38  12710472.0          Pennsylvania           PA          46058
39   1052669.0          Rhode Island           RI           1545
40   4636361.0        South Carolina           SC          32007
41    816211.0          South Dakota           SD          77121
42   6356683.0             Tennessee           TN          42146
43  25245178.0                 Texas           TX         268601
44   2774424.0                  Utah           UT          84904
45    625793.0               Vermont           VT           9615
46   8024417.0              Virginia           VA          42769
47   6742256.0            Washington           WA          71303
48   1854146.0         West Virginia           WV          24231
49   5689060.0             Wisconsin           WI          65503
50    564222.0               Wyoming           WY          97818

In [6]:
df["population_density"]=df["population"].div(df["area (sq. mi)"])
df=df.reindex(["state","abbreviation","area (sq. mi)","population","population_density"],axis=1)
df

,state,abbreviation,area (sq. mi),population,population_density
0,Alabama,AL,52423,4785570.0,91.287603
1,Alaska,AK,656425,713868.0,1.087509
2,Arizona,AZ,114006,6408790.0,56.214497
3,Arkansas,AR,53182,2922280.0,54.948667
4,California,CA,163707,37333601.0,228.051342
5,Colorado,CO,104100,5048196.0,48.493718
6,Connecticut,CT,5544,3579210.0,645.600649
7,Delaware,DE,1954,899711.0,460.445752
8,District of Columbia,DC,68,605125.0,8898.897059
9,Florida,FL,65758,18846054.0,286.597129
10,Georgia,GA,59441,9713248.0,163.409902
11,Hawaii,HI,10932,1363731.0,124.746707
12,Idaho,ID,83574,1570718.0,18.794338
13,Illinois,IL,57918,12839695.0,221.687472
14,Indiana,IN,36420,6489965.0,178.197831
15,Iowa,IA,56276,3050314.0,54.202751
16,Kansas,KS,82282,2858910.0,34.745266
17,Kentucky,KY,40411,4347698.0,107.586994
18,Louisiana,LA,51843,4545392.0,87.676099
19,Maine,ME,35387,1327366.0,37.509990
20,Maryland,MD,12407,5787193.0,466.445797
21,Massachusetts,MA,10555,6563263.0,621.815538
22,Michigan,MI,96810,9876149.0,102.015794
23,Minnesota,MN,86943,5310337.0,61.078373
24,Mississippi,MS,48434,2970047.0,61.321530
25,Missouri,MO,69709,5996063.0,86.015622
26,Montana,MT,147046,990527.0,6.736171
27,Nebraska,NE,77358,1829838.0,23.654153
28,Nevada,NV,110567,2703230.0,24.448796
29,New Hampshire,NH,9351,1316614.0,140.799273
30,New Jersey,NJ,8722,8802707.0,1009.253268
31,New Mexico,NM,121593,2064982.0,16.982737
32,New York,NY,54475,19398228.0,356.094135
33,North Carolina,NC,53821,9559533.0,177.617157
34,North Dakota,ND,70704,674344.0,9.537565
35,Ohio,OH,44828,11545435.0,257.549634
36,Oklahoma,OK,69903,3759263.0,53.778278
37,Oregon,OR,98386,3837208.0,39.001565
38,Pennsylvania,PA,46058,12710472.0,275.966651
39,Rhode Island,RI,1545,1052669.0,681.339159
40,South Carolina,SC,32007,4636361.0,144.854594
41,South Dakota,SD,77121,816211.0,10.583512
42,Tennessee,TN,42146,6356683.0,150.825298
43,Texas,TX,268601,25245178.0,93.987655
44,Utah,UT,84904,2774424.0,32.677188
45,Vermont,VT,9615,625793.0,65.085075
46,Virginia,VA,42769,8024417.0,187.622273
47,Washington,WA,71303,6742256.0,94.557817
48,West Virginia,WV,24231,1854146.0,76.519582
49,Wisconsin,WI,65503,5689060.0,86.851900
50,Wyoming,WY,97818,564222.0,5.768079

## 課題3

```state/region```、```ages```と```years```でデータフレームをグループして、各グループで$\frac{population}{area (sq. mi)}$の形で人口密度を計算してください。

In [43]:
df2=pd.merge(population,abbrevs,left_on="state/region",right_on="abbreviation")
df2=pd.merge(df2,areas).drop(["state","abbreviation"],axis=1)
df2=df2.reindex(["state/region","ages","year","area (sq. mi)","population"],axis=1)
df3=df2.groupby(["state/region","ages","year"]).sum()
df3["population_density"]=df3["population"].div(df3["area (sq. mi)"])
df3

                           area (sq. mi)  population  population_density
state/region ages    year
AK           total   1990         656425    553290.0            0.842884
                     1991         656425    570193.0            0.868634
                     1992         656425    588736.0            0.896882
                     1993         656425    599434.0            0.913180
                     1994         656425    603308.0            0.919081
...                                  ...         ...                 ...
WY           under18 2009          97818    134960.0            1.379705
                     2010          97818    135351.0            1.383702
                     2011          97818    135407.0            1.384275
                     2012          97818    136526.0            1.395714
                     2013          97818    137679.0            1.407502

[2448 rows x 3 columns]