# 課題0705

そのまま課題ファイルで編集しないでください。課題ファイルを複製してから課題を回答してください。

## 課題1

pandasでDataフォルダの```example.json```を読み込む。

In [2]:
import pandas as pd
df=pd.read_json("/Users/yamazakimomoko/chss_2023_assignment/課題0705/Data/example.json")
df

ValueError: Trailing data

## 課題2

pandasでDataフォルダの```state-abbrevs.csv```、```state-areas.csv```、```state-population.csv```を読み込む。

これらのデータを使って、**2010年**アメリカの各州の人口密度を計算しよう。

In [3]:
df1=pd.read_csv("/Users/yamazakimomoko/chss_2023_assignment/課題0705/Data/state-abbrevs.csv")
df1

                   state abbreviation
0                Alabama           AL
1                 Alaska           AK
2                Arizona           AZ
3               Arkansas           AR
4             California           CA
5               Colorado           CO
6            Connecticut           CT
7               Delaware           DE
8   District of Columbia           DC
9                Florida           FL
10               Georgia           GA
11                Hawaii           HI
12                 Idaho           ID
13              Illinois           IL
14               Indiana           IN
15                  Iowa           IA
16                Kansas           KS
17              Kentucky           KY
18             Louisiana           LA
19                 Maine           ME
20               Montana           MT
21              Nebraska           NE
22                Nevada           NV
23         New Hampshire           NH
24            New Jersey           NJ
25            New Mexico           NM
26              New York           NY
27        North Carolina           NC
28          North Dakota           ND
29                  Ohio           OH
30              Oklahoma           OK
31                Oregon           OR
32              Maryland           MD
33         Massachusetts           MA
34              Michigan           MI
35             Minnesota           MN
36           Mississippi           MS
37              Missouri           MO
38          Pennsylvania           PA
39          Rhode Island           RI
40        South Carolina           SC
41          South Dakota           SD
42             Tennessee           TN
43                 Texas           TX
44                  Utah           UT
45               Vermont           VT
46              Virginia           VA
47            Washington           WA
48         West Virginia           WV
49             Wisconsin           WI
50               Wyoming           WY

In [4]:
df2=pd.read_csv("/Users/yamazakimomoko/chss_2023_assignment/課題0705/Data/state-areas.csv")
df2

                   state  area (sq. mi)
0                Alabama          52423
1                 Alaska         656425
2                Arizona         114006
3               Arkansas          53182
4             California         163707
5               Colorado         104100
6            Connecticut           5544
7               Delaware           1954
8                Florida          65758
9                Georgia          59441
10                Hawaii          10932
11                 Idaho          83574
12              Illinois          57918
13               Indiana          36420
14                  Iowa          56276
15                Kansas          82282
16              Kentucky          40411
17             Louisiana          51843
18                 Maine          35387
19              Maryland          12407
20         Massachusetts          10555
21              Michigan          96810
22             Minnesota          86943
23           Mississippi          48434
24              Missouri          69709
25               Montana         147046
26              Nebraska          77358
27                Nevada         110567
28         New Hampshire           9351
29            New Jersey           8722
30            New Mexico         121593
31              New York          54475
32        North Carolina          53821
33          North Dakota          70704
34                  Ohio          44828
35              Oklahoma          69903
36                Oregon          98386
37          Pennsylvania          46058
38          Rhode Island           1545
39        South Carolina          32007
40          South Dakota          77121
41             Tennessee          42146
42                 Texas         268601
43                  Utah          84904
44               Vermont           9615
45              Virginia          42769
46            Washington          71303
47         West Virginia          24231
48             Wisconsin          65503
49               Wyoming          97818
50  District of Columbia             68
51           Puerto Rico           3515

In [5]:
df3=pd.read_csv("/Users/yamazakimomoko/chss_2023_assignment/課題0705/Data/state-population.csv")
df3

     state/region     ages  year   population
0              AL  under18  2012    1117489.0
1              AL    total  2012    4817528.0
2              AL  under18  2010    1130966.0
3              AL    total  2010    4785570.0
4              AL  under18  2011    1125763.0
...           ...      ...   ...          ...
2539          USA    total  2010  309326295.0
2540          USA  under18  2011   73902222.0
2541          USA    total  2011  311582564.0
2542          USA  under18  2012   73708179.0
2543          USA    total  2012  313873685.0

[2544 rows x 4 columns]

In [10]:
df_state_pop = df3[df3['year'] == 2010]
df_state_pop = df_state_pop[df_state_pop['ages'] == 'total']

df_merged = pd.merge(df1, df2, on='state')
df_merged = pd.merge(df_merged, df_state_pop, left_on='abbreviation', right_on='state/region')

df_merged['population_density'] = df_merged['population'] / df_merged['area (sq. mi)']

print(df_merged[['state', 'population_density']])

                   state  population_density
0                Alabama           91.287603
1                 Alaska            1.087509
2                Arizona           56.214497
3               Arkansas           54.948667
4             California          228.051342
5               Colorado           48.493718
6            Connecticut          645.600649
7               Delaware          460.445752
8   District of Columbia         8898.897059
9                Florida          286.597129
10               Georgia          163.409902
11                Hawaii          124.746707
12                 Idaho           18.794338
13              Illinois          221.687472
14               Indiana          178.197831
15                  Iowa           54.202751
16                Kansas           34.745266
17              Kentucky          107.586994
18             Louisiana           87.676099
19                 Maine           37.509990
20               Montana            6.736171
21              Nebraska           23.654153
22                Nevada           24.448796
23         New Hampshire          140.799273
24            New Jersey         1009.253268
25            New Mexico           16.982737
26              New York          356.094135
27        North Carolina          177.617157
28          North Dakota            9.537565
29                  Ohio          257.549634
30              Oklahoma           53.778278
31                Oregon           39.001565
32              Maryland          466.445797
33         Massachusetts          621.815538
34              Michigan          102.015794
35             Minnesota           61.078373
36           Mississippi           61.321530
37              Missouri           86.015622
38          Pennsylvania          275.966651
39          Rhode Island          681.339159
40        South Carolina          144.854594
41          South Dakota           10.583512
42             Tennessee          150.825298
43                 Texas           93.987655
44                  Utah           32.677188
45               Vermont           65.085075
46              Virginia          187.622273
47            Washington           94.557817
48         West Virginia           76.519582
49             Wisconsin           86.851900
50               Wyoming            5.768079

## 課題3

```state/region```、```ages```と```years```でデータフレームをグループして、各グループで$\frac{population}{area (sq. mi)}$の形で人口密度を計算してください。

In [11]:
df_grouped = df_merged.groupby(['state/region', 'ages', 'year']).sum()
df_grouped['population_density'] = df_grouped['population'] / df_grouped['area (sq. mi)']

print(df_grouped[['population_density']])

                         population_density
state/region ages  year
AK           total 2010            1.087509
AL           total 2010           91.287603
AR           total 2010           54.948667
AZ           total 2010           56.214497
CA           total 2010          228.051342
CO           total 2010           48.493718
CT           total 2010          645.600649
DC           total 2010         8898.897059
DE           total 2010          460.445752
FL           total 2010          286.597129
GA           total 2010          163.409902
HI           total 2010          124.746707
IA           total 2010           54.202751
ID           total 2010           18.794338
IL           total 2010          221.687472
IN           total 2010          178.197831
KS           total 2010           34.745266
KY           total 2010          107.586994
LA           total 2010           87.676099
MA           total 2010          621.815538
MD           total 2010          466.445797
ME           total 2010           37.509990
MI           total 2010          102.015794
MN           total 2010           61.078373
MO           total 2010           86.015622
MS           total 2010           61.321530
MT           total 2010            6.736171
NC           total 2010          177.617157
ND           total 2010            9.537565
NE           total 2010           23.654153
NH           total 2010          140.799273
NJ           total 2010         1009.253268
NM           total 2010           16.982737
NV           total 2010           24.448796
NY           total 2010          356.094135
OH           total 2010          257.549634
OK           total 2010           53.778278
OR           total 2010           39.001565
PA           total 2010          275.966651
RI           total 2010          681.339159
SC           total 2010          144.854594
SD           total 2010           10.583512
TN           total 2010          150.825298
TX           total 2010           93.987655
UT           total 2010           32.677188
VA           total 2010          187.622273
VT           total 2010           65.085075
WA           total 2010           94.557817
WI           total 2010           86.851900
WV           total 2010           76.519582
WY           total 2010            5.768079

/var/folders/9q/0xbyl6ls389d9r70q_0z3_lc0000gn/T/ipykernel_82719/933292464.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_grouped = df_merged.groupby(['state/region', 'ages', 'year']).sum()